{% extends "base.twig" %}
{% macro link(oneWorkDayFromUserPast, key) %}
    <a href="{{ getAbsolutePath(['rioadmin','presenceTimeCorrections']|merge(oneWorkDayFromUserPast.presenceTimeCorrections)|merge([key])) }}"><img width="30px" height="30px" src="{{ getAbsolutePath(['img']) ~ 'properties.gif' }}" alt="Details" title="bearbeiten"></a>
{% endmacro %}
{% block content %}
    {% import _self as overview %}
    {# @var MongoDB\Model\BSONArray[] all_work_days_from_user_past #}
    <h3>Übersicht</h3>
    <div>
        {{ [] is same as(allWorkDaysFromUserPast) ? "Es hat keine Einträge" }}
    </div>
    <div class="d-flex justify-content-center">
        <div class="p-2">
            <p>Präsenzzeiten für {{ displayUsername ~ ' ' ~ surnameUsername }}</p>
        </div>
    </div>
    <div class="d-flex justify-content-around">
        <div class="p-2">
            {% if previousMonth is not same as('') %}
                <a href="{{ getAbsolutePath(['rioadmin','overview',sessionUsername,previousMonth]) }}" class="d-none d-md-inline">{{ previousMonthName }}</a>
            {% endif %}
        </div>
        <div class="p-2">
            <p>{{ currentMonthName }}</p>
        </div>
        <div class="p-2">
            {% if nextMonth is not same as('') %}
                <a href="{{ getAbsolutePath(['rioadmin','overview',sessionUsername,nextMonth]) }}" class="d-none d-md-inline">{{ nextMonthName }}</a>
            {% endif %}
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" colspan="2">Datum</th>
            <th scope="col">Startzeit</th>
            <th scope="col">Endzeit</th>
            <th scope="col">Soll</th>
            <th scope="col">Ist</th>
            <th scope="col">Differenz</th>
            <th scope="col">Zeitsaldi (Woche)</th>
            <th scope="col">Zeitsaldi (Monat)</th>
            <th scope="col">Zeitsaldi (Total)</th>
            <th scope="col">Kommentar</th>
        </tr>
        </thead>
        <tbody>
        {# @var MongoDB\Model\BSONArray oneWorkDayFromUserPast #}
        {% for oneWorkDayFromUserPast in allWorkDaysFromUserPast %}
            {% set length = oneWorkDayFromUserPast.offsetGet("time")|length %}
            {% set printMandatoryTime = false %}
            {% set printDate = false %}
            {# @var MongoDB\Model\BSONDocument time #}
            {% for key,time in oneWorkDayFromUserPast.offsetGet("time") %}
                <tr>
                    <td>{{ overview.link(oneWorkDayFromUserPast, key) }}</td>
                    {% if false is same as(printDate) %}
                        <th scope="row" rowspan="{{ length }}">{{ getWeekDayShortNameByDate(oneWorkDayFromUserPast.date) }}</th>
                        <th scope="row" rowspan="{{ length }}">{{ oneWorkDayFromUserPast.date }}</th>
                    {% endif %}
                    <td>{{ '' is same as(time.offsetGet("startCorrected")) ? time.offsetGet("start") : time.offsetGet("startCorrected") }}</td>
                    <td>{{ '' is same as(time.offsetGet("endCorrected")) ? time.offsetGet("end") : time.offsetGet("endCorrected") }}</td>
                    {% if false is same as(printMandatoryTime) %}
                        <td rowspan="{{ length }}">{{ oneWorkDayFromUserPast.offsetGet("mandatoryTime") }}</td>
                        {% set printMandatoryTime = true %}
                    {% endif %}
                    <td>{{ time.offsetGet("isTime") }}</td>
                    <td>{{ time.offsetGet("diffNegativePositive")~time.offsetGet("diff") }}</td>
                    {% if false is same as(printDate) %}
                        <td rowspan="{{ length }}">{{ oneWorkDayFromUserPast.offsetGet("deviationTimeWeekly") }}</td>
                        <td rowspan="{{ length }}">{{ oneWorkDayFromUserPast.offsetGet("deviationTimeMonthly") }}</td>
                        <td rowspan="{{ length }}">{{ oneWorkDayFromUserPast.offsetGet("deviationTimeTotal") }}</td>
                        {% set printDate = true %}
                    {% endif %}
                    <td>{{ time.offsetGet("comment") }}</td>
                </tr>
            {% endfor %}
            {% if loop.last %}
                <tr class="border-bottom-0">
                    <td class="border-0"></td>
                    <td class="border-0"></td>
                    <th scope="row" class="border-0">Total</th>
                    <td class="border-0"></td>
                    <td class="border-0"></td>
                    <td class="border-bottom">{{ oneWorkDayFromUserPast.offsetGet("mandatoryTimeMonthly") }}</td>
                    <td class="border-bottom">{{ oneWorkDayFromUserPast.offsetGet("isTimeMonthly") }}</td>
                    <td class="border-0"></td>
                    <td class="border-0"></td>
                    <td class="border-bottom">{{ oneWorkDayFromUserPast.offsetGet("deviationTimeMonthly") }}</td>
                    <td class="border-bottom">{{ oneWorkDayFromUserPast.offsetGet("deviationTimeTotal") }}</td>
                    <td class="border-0"></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}