{% extends "base.twig" %}
{% block content %}
    <h3>Korrektur</h3>
    <p>Dies sind die Präsenzdaten vom {{ date }} für {{ displayUsername ~ ' ' ~ surnameUsername }}.</p>
    <p>Du kannst hier Korrekturen vornehmen.</p>
    <form action="{{ getAbsolutePath(['rioadmin','updatePresenceTimeCorrections']|merge(usernameDateTimeIndex)) }}" method="post">
        <div class="mb-3">
            <label for="date" class="form-label">Datum: </label>
            <input readonly id="date" name="date" class="form-control" value="{{ date }}">
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">gegeben errechnet</th>
                <th scope="col">korrigiert</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Arbeitsbeginn</th>
                <td>{{ timeStart }}</td>
                <td>
                    <label for="startCorrected" class="form-label d-inline"></label>
                    <input type="time" class="form-control" id="startCorrected" name="startCorrected" value="{{ timeStartCorrected }}">
                </td>
                <td>Zeitpunkt der Anmeldung</td>
            </tr>
            <tr>
                <th scope="row">Arbeitsende</th>
                <td>{{ timeEnd }}</td>
                <td>
                    <label for="endCorrected" class="form-label d-inline"></label>
                    <input type="time" class="form-control" id="endCorrected" name="endCorrected" value="{{ timeEndCorrected }}">
                </td>
                <td>Zeitpunkt der Abmeldung</td>
            </tr>
            <tr>
                <th scope="row">Pflichtzeit</th>
                <td>{{ mandatoryTime }}</td>
                <td>
                    <label for="mandatoryTimeCorrected" class="form-label d-inline"></label>
                    <input  class="form-control" id="mandatoryTimeCorrected" name="mandatoryTimeCorrected">
                </td>
                <td>Pflicht-Arbeitszeit</td>
            </tr>
            <tr>
                <th scope="row">Zeitgutschrift</th>
                <td>{{ timeCredit }}</td>
                <td>
                    <label for="timeCreditCorrected" class="form-label d-inline"></label>
                    <input  class="form-control" id="timeCreditCorrected" name="timeCreditCorrected" value="{{ timeCreditCorrected }}">
                </td>
                <td>kann auch negativ ausfallen</td>
            </tr>
            <tr>
                <th scope="row">Präsenzzeit</th>
                <td>{{ presenceTime }}</td>
                <td>
                    <label for="presenceTimeCorrected" class="form-label d-inline"></label>
                    <input  class="form-control" id="presenceTimeCorrected" name="presenceTimeCorrected">
                </td>
                <td>Präsenzzeit</td>
            </tr>
            <tr>
                <th scope="row">geleistete Arbeitszeit</th>
                <td>{{ presenceTimeTotal }}</td>
                <td>
                    <label for="workingTimePerformedCorrected" class="form-label d-inline"></label>
                    <input  class="form-control" id="workingTimePerformedCorrected" name="workingTimePerformedCorrected" value="{{ workingTimePerformedCorrected }}">
                </td>
                <td>grob gesagt: Präsenz minus Pause</td>
            </tr>
            <tr>
                <th scope="row">Abweichung</th>
                <td>{{ deviationNegativeOrPositiveOrZero ~ deviation }}</td>
                <td></td>
                <td>ergibt sich aus der Differenz zwischen geleisteter Arbeit ({{ presenceTimeTotal }}) und Pflicht-Arbeitszeit ({{ mandatoryTime }})</td>
            </tr>
            <tr>
                <th scope="row">Abwesend?</th>
                <td><div><label for="absentAllDay"></label>{{ absentAllDay }}</div></td>
                <td>
                    <select class="form-select" id="absentAllDay" name="absentAllDay" aria-label="absentAllDay">
                        {% for option in absentOptions %}
                        <option value="{{ option }}" {{ option is same as(absentAllDay) ? "selected" }}>{{ option }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>für ganztägige Abwesenheiten</td>
            </tr>
            <tr>
                <th scope="row">vormittags</th>
                <td><div><label for="absentMorning"></label>{{ absentMorning }}</div></td>
                <td>
                    <select class="form-select" id="absentMorning" name="absentMorning" aria-label="absentMorning">
                        {% for option in absentOptions %}
                            <option value="{{ option }}" {{ option is same as(absentMorning) ? "selected" }}>{{ option }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>für Abwesenheiten am Vormittag</td>
            </tr>
            <tr>
                <th scope="row">nachmittags</th>
                <td><div><label for="absentAfternoon"></label>{{ absentAfternoon }}</div></td>
                <td>
                    <select class="form-select" id="absentAfternoon" name="absentAfternoon" aria-label="absentAfternoon">
                        {% for option in absentOptions %}
                            <option value="{{ option }}" {{ option is same as(absentAfternoon) ? "selected" }}>{{ option }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>für Abwesenheiten am Nachmittag</td>
            </tr>
            <tr>
                <th scope="row">Wochensaldo</th>
                <td>{{ deviationTimeWeekly }}</td>
                <td></td>
                <td rowspan="2">können nicht korrigiert werden</td>
            </tr>
            <tr>
                <th scope="row">Monatssaldo</th>
                <td>{{ deviationTimeMonthly }}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Gesamtsaldo</th>
                <td>{{ deviationTimeTotal }}</td>
                <td>
                    <label for="deviationTimeTotalCorrected" class="form-label d-inline"></label>
                    <input class="form-control" id="deviationTimeTotalCorrected" name="deviationTimeTotalCorrected" value="{{ deviationTimeTotalCorrected }}">
                </td>
                <td>der hingegen schon</td>
            </tr>
            <tr>
                <th scope="row">Kommentar</th>
                <td colspan="2">
                    <div class="mb-3">
                        <label for="comment" class="form-label d-inline"></label>
                        <textarea class="form-control" id="comment" name="comment" rows="3">{{ comment }}</textarea>
                    </div>
                </td>
                <td>Wenn du irgendwelche Korrekturen vornimmst, musst du sie kurz kommentieren</td>
            </tr>
            </tbody>
        </table>
        {% if lastEditedUser is not same as('') or lastEditedDate is not same as('') or lastEditedTime is not same as('') %}
            <p>Wurde von {{ lastEditedUser }} zuletzt am {{ lastEditedDate }} um {{ lastEditedTime }} Uhr korrigiert.</p>
        {% endif %}
        {% if state is same as("failure") %}
            <div>
                <span class="badge bg-danger">Änderung wurde nicht erfolgreich übernommen.</span>
            </div>
        {% endif %}
        <div>
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </form>
{% endblock %}