{% extends "base.twig" %}
{% block head %}
    <link id="theme" rel="stylesheet" type="text/css" href="{{ getAbsolutePath(["css"]) ~ "main.css" }}" />
{% endblock %}
{% block content %}
    {% if result_task_type.num_rows > 0 %}
        {% for row in result_task_type.fetch_assoc %}
            {# TODO: sql in custom twig extension #}
        {% endfor %}
    {% endif %}
    {#{{ calculateArea(2,2) }}#}
    {% set form = true is same as(form is not defined) ? false : form %}


    <div class="col-12">All users</div>
    {% for user_name_link in users_names_links %}
        <div class="col-12"><a href="{{ user_name_link.link }}">{{ user_name_link.name }}</a></div>
    {% endfor %}
    <div class="col-12">
        {{ false is same as(unreviewed) ? "No unreviewed user solution exist." }}
    </div>
    <div class="col-12">
        <a href="{{ logout_link }}">Logout</a>
    </div>
    <div class="col-12">
        Create user
    </div>
    <form action="create.php" method="post">
        <label for="create_user_name"> Name
            <input value="" id="create_user_name" name="user_name" type="text">
        </label>
        <div></div>
        <label for="create_user_locked"> Locked 1/0
            <input value="" id="create_user_locked" name="user_locked" type="number" min="0" max="1">
        </label>
        <div></div>
        <button type="submit">Senden</button>
    </form>
    {% if true is same as(form) %}
        {% for i in all_zero_points_results_not_empty_solution %}
            <div class="col-12">
                <form action="{{ action }}" method="post">
                    <div></div>
                    {% if loop.first %}
                        <table>
                            <tr>
                                <th>Lösung</th>
                                <th>Punkte</th>
                            </tr>
                            <tr>
                                <td><input style="opacity: 0;"></td>
                                <td><input style="opacity: 0;"></td>
                            </tr>
                        </table>
                    {% endif %}
                    <input type="hidden" name="theme" id="theme_id" value="{{ theme_id }}">
                    <div>{{ i.task }}</div>
                    <div>{{ i.task_logical }}</div>
                    <div>{{ i.task_selection }}</div>
                    {% if i.image_path_part is not empty %}
                        <img alt="bild" src="{{ i.image_path_part }}">
                    {% endif %}
                    <input type="hidden" value="{{ i.task_id }}" name="task_id">
                    <table>
                        <tr>
                            <td><input type="text" value="{{ i.solution }}" name="solution" readonly></td>
                            <td><input type="text" value="{{ i.points }}" name="points"></td>
                        </tr>
                    </table>
                    <button type="submit">Senden</button>
                </form>
                <form action="{{ action }}" method="post">
                    <input type="hidden" name="theme" id="theme_id" value="{{ theme_id }}">

                </form>
            </div>
        {% endfor %}
    {% else %}
        {{ raw_html|raw }}
    {% endif %}
{% endblock %}