<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="Zeiterfassungssystem">
        <title>{{ title }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ getAbsolutePath([], "favicon.ico") }}" sizes="16x16">
        <link id="theme" rel="stylesheet" type="text/css" href="{{ getAbsolutePath(["css"]) ~ "main.css" }}" />
        {% block head %}{% endblock %}
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ logoLink() }}">
                    <img src="{{ getAbsolutePath(["img"], "logo.gif") }}" alt="" width="143" height="129">
                </a>
                {% if isLoggedIn() is same as(true) %}
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            {% for item in nav %}
                                <li class="nav-item">
                                    <a href="{{ item.link }}" class="{{ item.mobile is same as(false) ? 'd-none d-md-flex ' : '' }}nav-link{{ item.active is same as(true) ? ' active' : '' }}"{{ item.active is same as(true) ? ' aria-current="page"' : '' }}>{{ item.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>
        <div class="container-fluid">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </body>
</html>