{% extends base ~ "base.twig" %}
{% block head %}
    <link id="theme" rel="stylesheet" type="text/css" href="{{ getAbsolutePath(["css"]) ~ "main.css" }}" />
{% endblock %}
{% block content %}
    {% if result_task_type.num_rows > 0 %}
        {% for row in result_task_type.fetch_assoc %}
        {# TODO: sql in custom twig extension #}
        {% endfor %}
    {% endif %}
    {#{{ calculateArea(2,2) }}#}
    {% set form = true is same as(form is not defined) ? false : form %}
    {% if true is same as(form) %}
        <form action="{{ action }}" method="post">
            <input type="hidden" name="theme" id="theme_id" value="{{ theme_id }}">
            <input type="hidden" name="user_name" id="user_name" value="{{ user_name }}">
            {{ raw_html|raw }}
            <button type="submit">Senden</button>
        </form>
    {% else %}
        {{ raw_html|raw }}
    {% endif %}
{% endblock %}