{% extends "base.twig" %}
{% block content %}
    {# @var user UserSelf #}
    <div class="col-12">
        {{ raw_html|raw }}
        <h1>{{ user.name }}</h1>
        <form action="{{ getAbsolutePath(["admin", "user_edit"]) }}" method="post">

            <input value="{{ user.id }}" id="id" name="id" type="hidden">
            <label for="create_user_locked"> Locked 1/0
                <input value="{{ user.locked }}" id="create_user_locked" name="user_locked" type="number" min="0" max="1">
            </label>
            <button type="submit">Senden</button>
        </form>
        <a href="{{ getAbsolutePath(["admin"]) }}">Admin</a>
    </div>
{% endblock %}